body {
    margin:0;
    padding:0;
}
header {
    display:flex;
    height:120px;
    justify-content: center;
}
.container {
    display:flex;
    justify-content: space-between;
    width:990px;


}
.medlogo {
    height:50px;
}
.logo {
    display:flex;
    align-items: center;
    
}
.menu {
    
}